@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h1, h1, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    // Weights: 400, 600
}

body {
    font-family: 'Open Sans', sans-serif;
    // Weights: 400
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: $violet;
    color: white;

    @include breakpoint-up(large) {
        background-image: url(../images/bg-desktop.svg);
    }
}